/* Set the size of the div element that contains the map */
#map {
  height: 800px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  margin-top: 20px;
  border-radius: 10px;
}

html {
  background: url('/COHA.jpg') no-repeat center top fixed;
  /*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Century Schoolbook L",sans-serif;
}

body {
  display: flex; /* or css grid for more intricate layouts */
  flex-direction: column;
}
h1, h2 {
    color: #E3B448;
    background: #281f18;
    opacity: 0.7;
}

select {
  width: 100%;
  padding:10px;
  border-radius:10px;
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.8;
  text-align: center;
  font-size: 48px;
}