<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map of {{ year }} COHA data</title>
    <script src="/coha-map.js"></script>
    <link rel="stylesheet" type="text/css" href="/map-style.css" />

</head>
<body>
<script>
    var data = JSON.parse( '{{ data | tojson | safe }}')
</script>
    <h1>COHA survey points collected in {{ year }}</h1>
    <h2>A purple bar at the base of a marker indicates direction and distance to a detection.</h2>
    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap&v=weekly"
      defer
    ></script>
</body>
</html>